<div class="cursor">
    <div class="cursor-helper">
        <span class="cursor-drag">Arrastar</span>
        <span class="cursor-view">Visualizar</span>
        <span class="cursor-open"><i class="fas fa-plus"></i></span>
        <span class="cursor-close">Fechar</span>
        <span class="cursor-play">Play</span>
        <span class="cursor-next"><i class="fas fa-chevron-right"></i></span>
        <span class="cursor-prev"><i class="fas fa-chevron-left"></i></span>
    </div>
</div>