<footer class="footer  background-section p-relative">
    <div class="container">
        <div class="footer-container">
            <div class="d-flex align-items-center h-100">
                <div class="column-left">
                    <div class="footer-social p-relative">
                        <ul>
                            <li class="over-hidden">
                                <a href="https://www.instagram.com/epecriativa/" data-dsn="parallax"
                                    target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/instagram.svg"
                                            alt="Icone Instagram">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/facebook.svg"
                                            alt="Icone Facebook">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="https://twitter.com/epecriativa" data-dsn="parallax"
                                    target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/twitter.svg"
                                            alt="Icone Twitter">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/youtube.svg"
                                            alt="Icone YouTube">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="https://open.spotify.com/user/3142unitqnxtvsjdwtbb66j3bcmq?si=YEcI-KjMSq-cE-RSalCODA"
                                    data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/spotify.svg"
                                            alt="Icone Spotify">
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="scroll-top animation-rotate" data-dsn="parallax">
                    <img src="../assets/img/scroll_top.svg" alt="">
                    <i class="fa fa-angle-up"></i>
                </div>

                <div class="column-right">
                    <h5>Todos os direitos reservados <span class="love">♥</span>
                        <a class="link-hover" data-hover-text="epec ©" target="_blank" rel="nofollow"
                            href="https://epec.art.br">epec ©</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</footer>