<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Marc Gomes" />
    <meta name="discrption"vontent="A epec é uma escola para formação de proffisionais criativos e jovens empreendedores." />
    <meta name="keyword"vcontent="Escola, criaçao, desenvolvimento, design, ux design, ui design, impressão, marketing, proogramação, front-end, google adwords, google analitycs" />

    <!--  Title -->
    <title>epec | Escola Pernanbucana de Economia Criativa</title>

    <!-- Font Google -->
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
    </noscript>

    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="../assets/css/plugins.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css">

</head>