<div class="site-header dsn-container dsn-load-animate">
    <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
        <div class="inner-header p-relative">
            <div class="main-logo">
                <a href="" data-dsn="parallax">
                    <img class="light-logo"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-dsn-src="../assets/img/logo-epec.svg" alt="" />
                    <img class="mobile-logo"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-dsn-src="../assets/img/logo-epec-mobile.svg" alt="" />
                    <img class="dark-logo"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-dsn-src="../assets/img/logo-epec-black.svg" alt="" />
                </a>
            </div>
        </div>
        <div class="menu-icon d-flex align-items-baseline">
            <!--<div class="text-menu p-relative  font-heading text-transform-upper">
            <div class="p-absolute text-button">Menu</div>
            <div class="p-absolute text-open">Open</div>
            <div class="p-absolute text-close">Close</div>
        </div>-->
            <div class="icon-m" data-dsn="parallax" data-dsn-move="10">
                <span class="menu-icon-line p-relative d-inline-block icon-1"
                    style="background-color:#BF2836 !important;"></span>
                <span class="menu-icon-line p-relative d-inline-block icon-2"
                    style="background-color:#ED4A2E !important;"></span>
                <span class="menu-icon-line p-relative d-inline-block icon-3"
                    style="background-color:#EDBF49 !important;"></span>
                <span class="menu-icon-line p-relative d-inline-block icon-4"
                    style="background-color:#05A8E1 !important;"></span>
            </div>
        </div>
        <nav class="accent-menu dsn-container main-navigation p-absolute  w-100  d-flex align-items-baseline ">
            <div class="menu-cover-title">Menu</div>
            <ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">
                <li>
                    <a href="">

                        <span class="dsn-title-menu">Inicio</span>
                        <span class="dsn-meta-menu">#iniciodosite</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

                <li style="color:#1d1d1d;">
                    <a>

                        <span class="dsn-title-menu">A Escola</span>
                        <span class="dsn-meta-menu">#em desenvolvimento</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

                <li style="color:#1d1d1d;">
                    <a>

                        <span class="dsn-title-menu">Cursos</span>
                        <span class="dsn-meta-menu">#em desenvolvimento</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

                <li style="color:#1d1d1d;">
                    <a>

                        <span class="dsn-title-menu">Contato</span>
                        <span class="dsn-meta-menu">#em desenvolvimento</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

            </ul>
            <div class="container-content  p-absolute h-100 left-70 d-flex flex-column justify-content-center">
                <div class="nav__info">
                    <div class="nav-content">
                        <p class="title-line">
                            Escola</p>
                        <p>
                            Rua Apolo, 181<br>
                            Recife - PE</p>
                    </div>
                    <div class="nav-content">
                        <p class="title-line">
                            Contato</p>
                        <!--<p class="links over-hidden">
                        <a href="#" data-hover-text="+55 (00)0000 0000" class="link-hover">+55 (00)0000 0000</a>
                    </p>-->
                        <p class="links  over-hidden">
                            <a href="#" data-hover-text="contato@epec.art.br"
                                class="link-hover">contato@epec.art.br</a>
                        </p>
                    </div>
                </div>
                <div class="nav-social nav-content">
                    <div class="nav-social-inner p-relative">
                        <p class="title-line">
                            Follow us</p>
                        <ul>
                            <li class="over-hidden">
                                <a href="https://www.instagram.com/epecriativa/" data-dsn="parallax"
                                    target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/instagram.svg"
                                            alt="Icone Instagram">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/facebook.svg"
                                            alt="Icone Facebook">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="https://twitter.com/epecriativa" data-dsn="parallax" target="_blank"
                                    rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/twitter.svg"
                                            alt="Icone Twitter">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="#" data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/youtube.svg"
                                            alt="Icone YouTube">
                                    </div>
                                </a>
                            </li>
                            <li class="over-hidden">
                                <a href="https://open.spotify.com/user/3142unitqnxtvsjdwtbb66j3bcmq?si=YEcI-KjMSq-cE-RSalCODA"
                                    data-dsn="parallax" target="_blank" rel="nofollow">
                                    <div class="box-img">
                                        <img class="cover-bg-img"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-dsn-src="../assets/img/social-icones/spotify.svg"
                                            alt="Icone Spotify">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>